<a href="https://colab.research.google.com/github/kgwebu1/testing/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Pandas.png]()

In [ ]:
Pandas is a Python library that has functions for analyzing, cleaning, exploring, and manipulating data.

# Importing Pandas

In [ ]:
import pandas as pd

# Checking Pandas Version

In [ ]:
print(pd.__version__)

1.2.4

# Creating data
There are two core objects in pandas: the DataFrame and the Series.

## Series
A Series is, in essence, a single column of a DataFrame.

It is a one-dimensional array holding data of any type.

In [ ]:
# Example: Create a  Pandas Series from a list:


series1= pd.Series([1,2,3,4,5])
print(series1)

#If nothing else is specified, the values are labeled with their index number. First value has index 0, second value has index 1 etc.

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
# With the index argument, you can name your own labels.
#Example

series2=pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name ='Product A')
print(series2)

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

## Dataframe
A DataFrame is a table. It contains an array of individual entries, each of which has a certain value. Each entry corresponds to a row (or record) and a column.

In [ ]:
## Creating a data frame
#Use the pd.DataFrame() constructor to generate a DataFrame object

df1=pd.DataFrame( {"column 1" : [4, 5, 6],
                "column 2" : [7, 8, 9], 
                "column 3" : [10, 11, 12]})

print (df1)

   column 1  column 2  column 3
0         4         7        10
1         5         8        11
2         6         9        12

In [ ]:
df2= pd.DataFrame( [[4, 7, 10], 
                [5, 8, 11], 
                [6, 9, 12]], 
              index=["row 1","row 2","row 3"], 
              columns=['column 1', 'column 2', 'column 3'])

print (df2)

       column 1  column 2  column 3
row 1         4         7        10
row 2         5         8        11
row 3         6         9        12

In [ ]:
df3=pd.DataFrame({'Bob':['I liked it','It was awful'], 
              'Sue':['Pretty good','Bland']})
print (df3)

            Bob          Sue
0    I liked it  Pretty good
1  It was awful        Bland

In [ ]:
## Assigning Row labels
df4=pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.'],
             'Jane': ['Interesting.', 'Not the best']},
             index=['Product A', 'Product B'])
print (df4)

                     Bob           Sue          Jane
Product A    I liked it.  Pretty good.  Interesting.
Product B  It was awful.        Bland.  Not the best

In [ ]:
print(df)

                     Bob           Sue          Jane
Product A    I liked it.  Pretty good.  Interesting.
Product B  It was awful.        Bland.  Not the best

# Reshaping Data
Change layout, sorting, reindexing, renaming

In [ ]:
pd.melt(df4)

  variable          value
0      Bob    I liked it.
1      Bob  It was awful.
2      Sue   Pretty good.
3      Sue         Bland.
4     Jane   Interesting.
5     Jane   Not the best

# Reading and Analyzing data files
Data can be stored in any of a number of different forms and formats. The most common Format is .csv
We use the pd.read_csv() function to read the data into a DataFrame.

In [ ]:
wine_reviews = pd.read_csv("winemag-data-130k-v2.csv", index_col=0)

In [ ]:
##shape
# We can use the shape attribute to check how large the resulting DataFrame is:
wine_reviews.shape

(65499, 13)

In [ ]:
# We can examine the contents of the resultant DataFrame using the head() command, which grabs the first five rows:
wine_reviews.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [ ]:
# We can examine the contents of the resultant DataFrame using the head() command, which grabs the last five rows:
wine_reviews.tail()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
65494,France,Made from young vines from the Vaulorent porti...,Fourchaume Premier Cru,90,45.0,Burgundy,Chablis,NaN,Roger Voss,@vossroger,William Fèvre 2005 Fourchaume Premier Cru (Ch...,Chardonnay,William Fèvre
65495,Australia,"This is a big, fat, almost sweet-tasting Caber...",NaN,90,22.0,South Australia,McLaren Vale,NaN,Joe Czerwinski,@JoeCz,Tapestry 2005 Cabernet Sauvignon (McLaren Vale),Cabernet Sauvignon,Tapestry
65496,US,"Much improved over the unripe 2005, Fritz's 20...",Estate,90,20.0,California,Dry Creek Valley,Sonoma,NaN,NaN,Fritz 2006 Estate Sauvignon Blanc (Dry Creek V...,Sauvignon Blanc,Fritz
65497,US,This wine wears its 15.8% alcohol better than ...,Block 24,90,31.0,California,Napa Valley,Napa,NaN,NaN,Hendry 2004 Block 24 Primitivo (Napa Valley),Primitivo,Hendry
65498,Spain,"A unique take on Manzanilla Sherry, which is o...",Manzanilla,90,10.0,Andalucia,Jerez,NaN,Michael Schachner,@wineschach,Bodegas Dios Baco S.L. NV Manzanilla Sherry (J...,Sherry,Bodegas Dios Baco S.L.

In [ ]:
# The method called info() gives you more information about the data set.

wine_reviews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 65499 entries, 0 to 65498
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   country                65467 non-null  object
 1   description            65499 non-null  object
 2   designation            46588 non-null  object
 3   points                 65499 non-null  int64
 4   price                  60829 non-null  float64
 5   province               65467 non-null  object
 6   region_1               54744 non-null  object
 7   region_2               25170 non-null  object
 8   taster_name            51856 non-null  object
 9   taster_twitter_handle  49467 non-null  object
 10  title                  65499 non-null  object
 11  variety                65499 non-null  object
 12  winery                 65499 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 9.0+ MB

# Indexing, Selecting & Assigning

In [ ]:
# In Python, we can access the property of an object by accessing it as an attribute. 
wine_reviews.country

0            Italy
1         Portugal
2               US
3               US
4               US
           ...
65494       France
65495    Australia
65496           US
65497           US
65498        Spain
Name: country, Length: 65499, dtype: object

In [ ]:
# We can also access its values using the indexing ([]) operator. 
wine_reviews['country']

0            Italy
1         Portugal
2               US
3               US
4               US
           ...
65494       France
65495    Australia
65496           US
65497           US
65498        Spain
Name: country, Length: 65499, dtype: object

In [ ]:
# To  select a specific Series out of a DataFrame we can use the indexing operator []
wine_reviews['country'][1]

'Portugal'

## loc and iloc

### iloc
    index-based selection: selecting data based on its numerical position in the data. iloc

In [ ]:
#Example: Slect the First Row of Data
wine_reviews.iloc[0]

country                                                              Italy
description              Aromas include tropical fruit, broom, brimston...
designation                                                   Vulkà Bianco
points                                                                  87
price                                                                  NaN
province                                                 Sicily & Sardinia
region_1                                                              Etna
region_2                                                               NaN
taster_name                                                  Kerin O’Keefe
taster_twitter_handle                                         @kerinokeefe
title                                    Nicosia 2013 Vulkà Bianco  (Etna)
variety                                                        White Blend
winery                                                             Nicosia
Name: 0, dtype: object

In [ ]:
#Example: Select  the third  Row of Data
wine_reviews.iloc[2]

country                                                                 US
description              Tart and snappy, the flavors of lime flesh and...
designation                                                            NaN
points                                                                  87
price                                                                 14.0
province                                                            Oregon
region_1                                                 Willamette Valley
region_2                                                 Willamette Valley
taster_name                                                   Paul Gregutt
taster_twitter_handle                                          @paulgwine
title                        Rainstorm 2013 Pinot Gris (Willamette Valley)
variety                                                         Pinot Gris
winery                                                           Rainstorm
Name: 2, dtype: object

# Cleaning Data
The data set that we will be worning with  contains 
* some empty cells
*  wrong format 
*  wrong data 
*  duplicates
We will address each of these issues

In [ ]:
df = pd.read_csv('dataset.csv')

In [ ]:
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0